@model Grob.ServiceFabric.Web.Models.Applications.ApplicationsIndexModel

@{
    ViewData["Title"] = "Applications";
}

<div>
    <div>
        @Html.ActionLink("Add application", "create", "applications", routeValues: null, htmlAttributes: new { @class = "btn blue darken-3" })
    </div>
    <div>
        <h2>Applications</h2>
        <div>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Grob.Entities.Docker.Application application in Model.Applications)
                    {
                        <tr>
                            <th>@application.Created</th>
                            <th>@application.Name</th>
                            <th>@application.Size</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>