@model Grob.ServiceFabric.Web.Models.Tasks.NewTaskModel

@{
    ViewData["Title"] = "Create Task";
}

@Html.AntiForgeryToken()

<h4>Create Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ApplicationName" class="control-label"></label>
            <input asp-for="ApplicationName" class="form-control" />
            <span asp-validation-for="ApplicationName" class="text-danger"></span>
        </div>*@
            <div input-field col s12>
                <label>Application</label>
                @Html.DropDownListFor(m => m.ApplicationName, Model.RegisteredApplications)
            </div>
            <div>
                <label>Schedule</label>
                @Html.DropDownListFor(m => m.ScheduleType, Model.ScheduleTypes)
            </div>
            <div>
                <label>Container type</label>
                @Html.DropDownListFor(m => m.ContainerType, Model.ContainerTypes)
            </div>
            <div class="form-group">
                <label asp-for="ScheduleInfo" class="control-label"></label>
                <input asp-for="ScheduleInfo" class="form-control" value="0/3 * * * *" />
                <span asp-validation-for="ScheduleInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredMemory" class="control-label"></label>
                <input asp-for="RequiredMemory" class="form-control" value="0" />
                <span asp-validation-for="RequiredMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn green" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}
