@model Grob.ServiceFabric.Web.Models.TaskViewModel

@{
    ViewData["Title"] = "Tasks";
}

<h2>Tasks</h2>

<div>
    <div class="containers-container">
        <div class="containers-name-header">Containers</div>
    </div>
    <div class="containers-list">
        @foreach (Grob.Entities.Grob.GrobTask task in Model.Tasks)
        {
            <hr class="container-separator">
            <div class="container-row">
                <div class="container-name-container">@Html.DisplayFor(m => task.Id)</div>
                <div class="container-created-container">@Html.DisplayFor(m => task.Name)</div>
            </div>
        }
    </div>   
</div>
