@model Grob.ServiceFabric.Web.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Agents</h2>
<div>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Uri</th>
                <th>CPU</th>
                <th>Available Memory</th>
                <th>Docker Engine</th>
                <th>Docker for Windows</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Grob.Agent.Models.GrobAgent agent in Model.GrobAgents)
            {
                <tr>
                    <td>@Html.DisplayFor(m => agent.Name)</td>
                    <td>@Html.DisplayFor(m => agent.Uri)</td>
                    <td>@Html.DisplayFor(m => agent.Information.CpuUsage)%</td>
                    <td>@Html.DisplayFor(m => agent.Information.AvailableMemory) MB</td>
                    @if (agent.Information.IsDockerEngineRunning)
                    {
                        <td><i class="small material-icons">check</i></td>
                    }
                    else
                    {
                        <td><i class="small material-icons">close</i></td>
                    }
                    @if (agent.Information.IsDockerForWindowsServiceRunning)
                    {
                        <td><i class="small material-icons">check</i></td>
                    }
                    else
                    {
                        <td><i class="small material-icons">close</i></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>