

@{
    ViewData["Title"] = "Home Page";
}

<div class="containers-container">
    <div class="containers-name-header">Agents</div>
</div>
<div class="containers-list">
    @foreach (Grob.Agent.Models.GrobAgent agent in Model.GrobAgents)
    {
        <hr class="container-separator">
        <div class="container-row">            
            <div class="container-name-container">@Html.DisplayFor(m => agent.Name)</div>
            <div class="container-created-container">@Html.DisplayFor(m => agent.Uri)</div>
        </div>
    }
</div>