<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grob.Docker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Grob.Docker.Properties.Settings>
            <setting name="DockerUri" serializeAs="String">
                <value>npipe://./pipe/docker_engine</value>
            </setting>
            <setting name="DockerEmail" serializeAs="String">
                <value>testemail</value>
            </setting>
            <setting name="DockerUsername" serializeAs="String">
                <value>testusername</value>
            </setting>
            <setting name="DockerPassword" serializeAs="String">
                <value>testpassword</value>
            </setting>
        </Grob.Docker.Properties.Settings>
    </applicationSettings>
</configuration>